<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'doctors')}">
<head>
    <meta charset="UTF-8">
    <title>List of Doctors</title>
</head>
<body>
<!--/*@thymesVar id="doctors" type="me.gabrielchiong.babyclinic.model.Doctor"*/-->
    <h1 th:text="'List of Doctors'">List of Doctors...</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor:${doctors}">
            <td th:text="${doctor.id}">100</td>
            <td th:text="${doctor.firstName}">Joe</td>
            <td th:text="${doctor.lastName}">Buck</td>
        </tr>
        </tbody>
    </table>
</body>
</html>